body{
	min-width:370px;
}
@font-face {
    font-family: glyphicons;
    src: url(../../bootstrap/fonts/glyphicons-halflings-regular.woff);
}
.jumbotron h1{
	font-weight:bold;
}
.italic{
	font-style:italic;
}
.adminheaders{
	font-size:2em;
	padding:0;
}
.adminsubmit{
	padding:6px 10px;
	margin:10px 0;
	float:right;
}
.adminimage{
	position:relative;
	width:100%;
	height:120px;
}
.backimage{
	background-image:url('../images/pizza.jpg');
	background-size:110%;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}
.clear{
	clear:both;
}
.logo{
	margin-bottom:20px;
	font-size:2.6em;
}
.col-lg-4, .col-lg-6{
	background-color:lightgray;
	padding: 10px;
	margin:10px 0;
	border-radius:10px;
	border:4px solid #fff;
}
img{
	margin:10px 0;
}
.footer{
	right:auto;
	left:auto;
	position: relative;
}
.shprice{
	width:50px;
	text-align:right;
}
.shsubmit{
	float:right;
}
.add-new{
	background-color: #ff9900;
}